body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.container{
    display: flex;
    justify-content: space-between;
    
}
.left-side{
    background-image: url(images/nutrition\ odin\ image.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20vw;
    height: 100vh;
    width: 70%;
    padding-top: 20%;
    float: left;
    

    
    
}
#logo{
    width: 30%;
    height: 30%;
    display: inline;
    margin-left: 9%;
    margin-top: 5vh;
    float: left;
    opacity: 1;
}
.logo-text{
    color: white;
    font-size: 2.4rem;
    
}


.translucent-layer{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 30%;
   
}

.right-side{
    background-color: rgb(240, 240, 240);
    display: block;
    float: right;
}



.upper-text{
    margin-top: 20vh    ;
    margin-left: 4vw;
    font-size: 1.2rem;
    margin-right: 12vw;
    margin-bottom: 4vw;

}
.phone{
    width: 180px;
}

.form-holder{
    background-color: white;
    box-sizing: border-box;
      
    border-bottom: 3px solid rgba(96, 94, 94, 0.3);
    padding-top: 3vh;

}

.common{
    margin-left: 4vw;
    margin-bottom: 5vh;


    
}


.common>*{
    display: inline-block;
    margin-right: 7vw;
    height: 20px;

}
.common>*>*{
    display: block;
}



label{
    font-size: 1rem;
}

.text-inside-form-div{
    
    margin-left: 4vw;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 4vh;
}
.subButton{
    background: #596D48;
    margin-bottom: 4vh;
    margin-top: 3vh;
    border-radius: 5px;
    font-size: 1rem;
    padding: 2vh 5vh 2vh 5vh;
    color: white;
    border: none;
    margin-left: 4vw;


}

.subButton:hover{
    background-color: #718b5a;
    cursor: pointer;
}
.footer{
    margin-left: 4vw;
}


input:focus{
    background-color: #edefeb;
    
}
label{
    margin-bottom: 2px;
}